.terminal-window.active {
    border: 1px solid var(--color-macos-window-border);
}

.terminal-window.active > .title-bar {
    background-color: var(--color-macos-titlebar);
}

.terminal-window.active  .close {
    background-color: var(--color-macos-close);
}

.terminal-window.active  .minimize {
    background-color: var(--color-macos-minimize);
}

.terminal-window.active  .zoom {
    background-color: var(--color-macos-zoom);
}